#title {
    font-family: "hydrophilia-liquid",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    color: #0F0F0F;
}

#topIcon {
    width: 64px;
    height: 64px;
}

#items {
    font-family: "purista-web",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
}

#icon {
    width: 32px;
    margin-right: 2px;
    border-radius: 4px;
}

#iconFrame {
    margin-top: 30px;
}

img.kumo {
    width: 60px;
    margin: 0;
    position: absolute;
    z-index: -1;
}

a.item:hover {
    text-decoration: underline;
}

a.item {
    text-decoration: none;
}

a.icon {
    text-decoration: none;
}

#address {
    margin-top: 5px;
    font-family: "purista-web",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}
