body {
    background-color: #F0F0F0;
    color: #0F0F0F;
}

#subtitle {
    font-family: "purista-web",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #0F0F0F;
}

#mainFrame {
    margin: 60px 80px;
}

#japanese {
    font-family: "a-otf-gothic-bbb-pr6n",sans-serif;
    font-style: normal;
    font-weight: 400;
}

#footer {
    margin-top: 40px;
}

a {
    color: #030303;
}
